*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body  */
body{
 background-color: black;
}
/* header  */
header {
 font-family: 'Bungee Spice', cursive;
 /* display: flex; */
 text-align: center;
 font-size: 60px;
 background-color: rgb(30, 29, 29);
 margin: 0;
 padding: 40px ;
}

/* paragraph style */

#selectWeapon {
 font-family: 'Bungee Spice', cursive;
 font-size: 40px;
 padding-top: 40px;
 padding-bottom: 40px;
 text-align: center;
 

}

/* <!-- weapon flexbox --> */
.weaponPic {
 width: 8rem;
 font-size: 60px;
 border-radius: 10px;
 box-shadow: 5px 5px 10px 8px rgb(215,46,0);
 transition: .3s ;
 text-align: center;
 padding: 20%;
 cursor: pointer;
}
.weaponPic:hover{
 transform: scale(1.1);
 transition-timing-function:ease-in-out ;
}
.weaponContainer {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-left: 37vw;
 margin-right: 37vw;
 margin-top: 10px;
 margin-bottom: 20px;
}


.resultbox{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-left: 33vw;
 margin-right: 33vw;
 margin-top: 20px;
 font-family: "Bungee Spice", cursive;
 font-size: 20px;
 text-align: center;
}

#round{
 font-family: "Bungee Spice" , cursive;
 font-size: 20px;
 text-align: center;
padding-top: 20px;

}

/* scoreboard */

.scoreboard{
 font-family: 'Bungee Spice', cursive;
 font-size: 20px;
 height: 100%;
 display: flex;
 flex-wrap: wrap;
 margin-top: 5vh;
 margin-right: 33vw;
 margin-left: 33vw;
}

.scoreboard div{
 flex: 1;
}

.scoreboard>div:nth-of-type(1){
 flex: 1 1 100%;

}

#score{
 text-align: center;
 border-bottom: 5px solid black;
 padding-bottom: 20px;
}

.scoretxt{
 text-align: center;
}

.scoretxt + h2{
 text-align: center;
}
.footer {
 position: absolute;
 bottom: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
 width: 100%;
 padding: 10px;
 color: white;
 font-size: 20px;
}
.fa-github {
 color: white;
 font-size: 24px;
 transition: transform 5s ease-in-out;
}

.fa-github:hover {
 transform: rotate(10800deg) scale(1.2);
}
.btndiv{
  text-align: center;
  margin-top: 20px;
}
#resetbtn{  
 border: 1px solid;
 font-family: 'Bungee spice', cursive ;
 font-size: 34px;
 background-color: rgb(30, 29, 29);
 box-shadow: 3px 3px 5px 1px rgb(215,46,0);
cursor: pointer;
}

#resetbtn:hover{
 transform: scale(1.2);

}
